@font-face { 
font-family: roboto-condensed; 
src: url('roboto-condensed.ttf'); 
} 
html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}
#map-canvas { 
	width: 100%; 
	height: 100% 
}
#searchbox {
	width: 400px;
	height: 150px;
	position: fixed;
	top: 10px;
	left: 10px;
}
#current {
	position: fixed;
	top: 30px;
	font-family: roboto-condensed;
	left: 140px;
	color: #ffffff;
	text-shadow: 0px 0px 7px #000000;
}
#searchbox img {
	width: 130px;
	position: relative;
	z-index: 10;
	border-radius: 75px;
	margin-top: 5px;
	box-shadow: 0 0 2px 2px #888;
}
#searchbox input {
	width: 300px;
	height: 40px;
	position: fixed;
	top: 60px;
	left: 130px;
	border: 0;
	font-family: roboto-condensed;
	padding-left: 25px;
	font-size: 18px;
	box-shadow: 0 0 5px 5px #888;
}
#view-source {
	position: fixed;
	height: 37px;
	padding-top: 13px;
	width: 300px;
	top: 50px;
	right: -80px;
	background-color: #CD0000;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg); 
	color: #ffffff;
	text-align: center;
	font-family: roboto-condensed;
	font-size: 18px;
}
#view-source a {
	color: #ffffff;
	text-decoration: none;
}