@font-face { 
font-family: roboto-condensed; 
src: url('roboto-condensed.ttf'), url('roboto-condensed.eot');; 
} 
html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color: #2D2D2D;
}
#map-canvas { 
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0px;
}
#searchbox {
	width: 500px;
	height: 150px;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}
#current {
	position: fixed;
	top: 30px;
	font-family: roboto-condensed;
	left: 140px;
	color: #ffffff;
	text-shadow: 0px 0px 7px #000000;
}
#searchbox img {
	width: 130px;
	position: relative;
	z-index: 10;
	border-radius: 75px;
	margin-top: 5px;
	box-shadow: 0 0 2px 2px #888;
}
#searchbox form {
	width: 300px;
	height: 40px;
	position: absolute;
	top: 53px;
	left: 120px;
	border: 0;
	padding-left: 25px;
	box-shadow: 0 0 5px 5px #888;
	background-color: white;
}
#search {
	width: 295px;
	height: 35px;
	border: none;
	font-size: 18px;
	font-family: roboto-condensed;
	margin-top: 2px;
}
input:focus {
	outline: none; 
}
#selected {
	width: 230px;
	margin-top: -30px;
	height: 80px;
	font-family: roboto-condensed;
	background-color: white;
	box-shadow: 0 0 5px 5px #888;
	font-size: 18px;
	display: none;
	padding-left: 90px;
	margin-left: 125px;
	color: #666666;
	background-image: url(airport-red-big.png);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	line-height: 80px;
}
#selected img {
	width: 30px;
	height: 30px;
	box-shadow: none;
	position: absolute;
	left: 410px;
	top: 130px;
	cursor: pointer;
}
#error {
	width: 270px;
	margin-top: -30px;
	height: 65px;
	padding-top: 15px;
	padding-right: 40px;
	font-family: roboto-condensed;
	background-color: white;
	box-shadow: 0 0 5px 5px #888;
	font-size: 18px;
	padding-left: 10px;
	margin-left: 125px;
	color: #666666;
	text-align: center;
	border-top: 6px solid #cc1100;
}
#error img {
	width: 30px;
	height: 30px;
	box-shadow: none;
	position: absolute;
	left: 410px;
	top: 135px;
	cursor: pointer;
}
#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	color: #ffffff;
	font-family: roboto-condensed;
	text-align: center;
	display: none;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#git {
	margin-top: 15px;
	padding-top: 15px;
}
#embed {
display: none;
}

.chardinjs-helper-layer.chardinjs-top {
	padding-top: 0 !important;
}

.tt-dropdown-menu {
	background-color: white;
	width: 280px;
	margin-top: 20px;
	margin-left: -20px;
	box-shadow: 0 0 5px 5px #888;
	padding-left: 20px;
	padding-right: 20px;
}
.tt-suggestion {
	background-color: white;
	font-family: roboto-condensed;
	font-size: 18px;
	border-bottom: 1px solid #aaaaaa;
	height: 15px;
	padding-bottom: 15px;
	line-height: 15px;
	margin-top: -3px;
	color: #444444;
}
.tt-suggestion:last-of-type {
	border: 0;
}
.tt-hint {
	font-family: roboto-condensed;
	font-size: 18px;
	height: 30px;
	margin-top: 0px;
	padding-top: 4px;
	margin-left: -2px;
	line-height: 40px;
	display: none;
}
.chardinjs-tooltiptext {
  font-family: roboto-condensed;
}